<html>
  <head>
    <title>Data Science Industry Comparison Charts</title>
    <link href="/static/style.css" rel="stylesheet">
  </head>
  <body>
  <h1>Data Science Industry Comparison Charts</h1>
  <div class="container">
    <div class="item"></div>
    <div class="item">{{size10|safe}}</div>
    <div class="item">{{exp10|safe}}</div>
    <div class="item">{{location10|safe}}</div>
      <div class="item"></div>
        <div class="item"></div>
    <div class="item">{{pospie|safe}}</div>
    <div class="item">{{figyear|safe}}</div>
    <div class="item">{{total|safe}}</div>
      <div class="item"></div>
  </div>

  </body>
</html>
